@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    html {
        font-size: 62.5%;
    }

    @font-face {
        font-family: DM Sans ;
        src: url("./fonts/dm-sans-v10-latin-700.woff");
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: DM Sans ;
        src: url("./fonts/dm-sans-v10-latin-italic.woff2");
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: DM Sans ;
        src: url("./fonts/dm-sans-v11-latin-500.woff2");
        font-weight: 500;
        font-style: normal;
    }


    @font-face {
        font-family: DM Sans ;
        src: url("./fonts/dm-sans-v10-latin-regular.woff2");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: GT Walsheim ;
        src: url("./fonts/GT-Walsheim-Medium-Oblique.woff2");
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: GT Walsheim ;
        src: url("./fonts/GT-Walsheim-Medium.woff2");
        font-weight: 500;
        font-style: normal;

    }

    @font-face {
        font-family: GT Walsheim ;
        src: url("./fonts/GT-Walsheim-Regular-Oblique.woff2");
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: GT Walsheim ;
        src: url("./fonts/GT-Walsheim-Regular.woff2");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: Founders ;
        src: url("./fonts/founders-grotesk-mono-medium.woff2");
        font-weight: 500;
        font-style: normal;
    }

}

/* Layout */
body{
    display: grid;
}

